 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.jumbotron {
	width: 100%;
	height: 140px;
	text-align: center;
	font-family: Bradley Hand ITC;
}
.cont{
	margin-left: 5%;
}
.cont .abc h1 {
	color: blue;
	margin-left: 1%;
	font-family: Segoe Print;
}
.cont .abc h2 {
	color: blue;
	margin-left: 1%;
	font-family: Segoe Print;
}
.cont .abc h3 {
	color: blue;
	margin-left: 5%;
	font-family: Segoe Print;
}
.cont .abc h4 {
	color: blue;
	margin-left: 5%;
	font-family: Segoe Print;
}
.cont container div{
	width: 180px;
  	height: 10px;
  	padding: 20px;
  	border: 1px solid black;
  	box-sizing: border-box;
	margin:1px;
}
.cont .abc h5 {
	color: blue;
	margin-left: 5%;
	font-family: Segoe Print;
}
.cont .abc .imgs img {
	border: 1px solid black;
	width: 200px;
	height: 250px;
	border-radius: 50%;
}
.cont .abc p{	color: black;
	font-family: Courier New;
}
.cont .xyz {
	margin-top: -60%;
	margin-right: 10%;
}
.cont .xyz h6 {
	color: blue;
	margin-left: 50%;
	font-family: Segoe Print;
}
.cont .xyz h7 {
	color: blue;
	margin-left: 50%;
	font-family: Segoe Print;
}
.cont .xyz h8 {
	color: blue;
	margin-left: 50%;
	font-family: Segoe Print;
}
.cont .xyz p{	color: black;
	margin-left: 50%;
	font-family: Courier New;
}
.cont hr {
	margin-right: 50px;
}
.wht .jumbotron {
	margin-top: 30%;	
	text-align: center;
}
